<mapper namespace="org.manumiguezz.dao.mapper.ComputerMapper">

    <select id="findById" resultType="org.manumiguezz.models.Computer">
        SELECT * FROM Computer WHERE computer_id = #{id}
    </select>

    <select id="findAll" resultType="org.manumiguezz.models.Computer">
        SELECT * FROM Computer
    </select>

    <insert id="create">
        INSERT INTO Computer (computer_name, motherboard_id, power_supply_id, cooling_system_id)
        VALUES (#{computerName}, #{motherboardId}, #{powerSupplyId}, #{coolingSystemId})
    </insert>

    <update id="update">
        UPDATE Computer
        SET computer_name = #{computerName}, motherboard_id = #{motherboardId},
        power_supply_id = #{powerSupplyId}, cooling_system_id = #{coolingSystemId}
        WHERE computer_id = #{computerId}
    </update>

    <delete id="delete">
        DELETE FROM Computer WHERE computer_id = #{id}
    </delete>

    <select id="findByMotherboardId" resultType="org.manumiguezz.models.Computer">
        SELECT * FROM Computer WHERE motherboard_id = #{id}
    </select>

</mapper>